body {width: 80%; margin: auto;font-family: arial, sans-serif;}
		
.course {background-color: #aaa; color: white; margin-bottom: 1em; padding: 0.5em; width: 30%; border-radius: 0px 0.3em 2em 0px;}

header {color: white; background-color:#0B5BAB ; font-size: 1.5em; text-align: center; border-radius: 1.2em; border: 8px double white; padding: 1em;}

h1 {font-size: 150%; text-align: center; }
h2 {font-size: 140%; font-weight: bold; text-align: center;}
main {width: 80%; margin: 1em auto;}
footer {border-top: 2px #eee solid; font-size: 75%; text-align: center; margin-top: 2em;}

ul li {font-size: 110%; margin: 0.3em; }

.question {padding: 1em; background-color: #f0f9e8; margin-top: 3.5em;}
.question h2 {font-family: serif; font-size: 1.5em; font-style: italic; color: #888;}

.error {padding: 1em; width: 60%; margin: 2em auto; color: #cc0000; border-top: 5px solid red; border-bottom: 5px solid red; }
.success {display: block; font-size: 250%; font-style: italic; serif; color: lightgreen;}

/* Product Catalog Management */

.flexboxContainer {display: flex; justify-content: center;}
.itemList { border-collapse: collapse; }
.itemList tr th {background-color: #0B5BAB; color: white; padding: 0.4em; }
.itemList tr td {border: 1px solid #0B5BAB; padding: 0.4em;}
.itemList tr td a {text-decoration: none; color: cornflowerblue}

.itemList tr th span {background-color: ghostwhite; padding: 0.2em 0.4em; border-radius: 0.6em; font-size: smaller; font-weight: bold;}
.itemList tr th span a {text-decoration: none; color: cornflowerblue}

.button {display: inline-block; background-color: darkorange; color: ivory; border-radius: 0.7em; padding: 0.2em 0.5em;}
.buttonBox {display: inline-block;border: 1px solid darkorange; padding: 0.3em 1em 0.3em 0.3em; border-radius: 1em; margin: 1em 1em 2em 1em;}
.buttonBox a {display: inline-block; width: 100%; text-decoration: none; color: cornflowerblue}

.formTable tr th, .formTable tr td {padding: 0.5em;}
.formTable tr th {text-align: right; vertical-align: top;}
.formTable input, .formTable textarea, .formTable select {border: 1px solid #bbb; padding: 0.3em;}
.formTable input[type='submit'] {padding: 0.4em; border-radius: 0.3em; }