.admin-card {
    background-color:#0B5BAB;
    height: 4.7rem;
    border-radius: 10px;
}

.admin-card:hover {
    background-color: #377fc7;
}

.btn-admin-menu {
	background-color: #0B5BAB!important;
	color: white!important;
	border: none;
	letter-spacing: 0.7px;
	font-weight:  400!important;
}

.btn-admin-menu:hover {
	background-color: #377fc7!important;
}

.p.admin-card {
    font-size: 5rem;
}


@media (min-width: 992px) {
    .admin-card {
        margin: .5rem .5rem;
    }
}

@media (max-width: 992px) {
    .admin-card {
        margin: .5rem 1rem;
    }
}

@media (min-width: 768px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}